/*header podešavanja */

.body {
    height: 100%;
}
.header {
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
}
img.headerlogo {
    position: absolute;
    margin: 20px 160px;
}
ul.headerlist {
    display: flex;
    padding-right: 500px;
    float: right;
    margin: 29px auto;
    list-style: none;
}
a.navig {
    text-decoration: none;
}
span {
    margin-left: 19px;
    margin-right: -3px;
    -webkit-text-fill-color: black;
}
.select {
    margin: 20px 400px;
}
.option {
    width: 150px;
    height: 34px;
    border: 1px solid #e30116;
    background-color: #e30116;
    margin-top: -40px;
    margin-left: 37px;
    text-align: center;
    line-height: 29px;
    -webkit-text-fill-color: white;
}
img.zastavica {
    float: right;
    margin-top: -50px;
    margin-right: 275px;
}
/*sekcija1 */

img.img-slider {
    width: 100%;
    height: 350px;
    left: 0;
    right: 0;
}
/*sekcija2 */

.content {
    width: 97%;
    padding: 20px;
    overflow: hidden;
    border: 1px solid red;
}
.content img {
    margin-right: 80px;
    margin-left: 250px;
    float: left;
}
p {
    margin-right: 250px;
}
a.linkhome {
    color: red;
}
img.redimg {
    width: 100%;
}
/* siva sekcija */

section.sectiongrey {
    background: lightgrey;
    height: 248px;
    margin-top: 1px;
}
img.buildingimg {
    margin-left: 665px;
    width: 50%;
}
.firstrowgrey {
    font-size: 35px;
    color: black;
    font-weight: 700;
    margin-top: -197px;
    margin-left: 200px;
}
.secondrowgrey {
    margin-top: -30px;
    margin-left: 199px;
    font-size: 19px;
}
/* crvena sekcija */

.lastsection {
    position: relative;
    width: 100%;
}
img.redimg {
    max-width: 100%;
    height: auto;
    display: block;
}
.lastsection p {
    position: absolute;
    top: 30%;
    left: 40%;
}
.firstrowred {
    font-size: 40px;
    color: white;
    font-weight: 700;
    margin-top: -6px;
    margin-left: -64px;
}
.secondrowred {
    line-height: 35px;
    font-size: 57px;
    color: white;
    font-weight: 700;
    margin-left: -26px;
}
/* footer podešavanja */

.footer {
    background: #323232 !important;
    width: 100%;
    height: 70px;
    bottom: 0 !important;
    left: 0;
    display: inline-block;
}
img.footerlogo {
    margin: 20px 160px;
}
ul.footerlist {
    display: flex;
    padding-right: 160px;
    float: right;
    margin: -62px auto;
    list-style: none;
}
a.navigfoot {
    text-decoration: none;
}
span.foot {
    -webkit-text-fill-color: white;
    font-size: 12px;
}
/*stranica 2 */

p.headergrey {
    margin-left: 235px;
    color: lightgrey;
}
h1.page2lorem {
    margin-left: 235px;
    margin-top: -10px;
    font-size: 40px;
}
p.page2para {
    margin-top: -27px;
    margin-left: 320px;
}
img.img-slider2 {
    height: 240px;
    width: 100%;
}
/* teskture i vrata deo */

.col-md-6 {
    float: left;
    width: 50%;
}
p.teskturatxt {
    font-size: 25px;
    margin-left: 180px;
    line-height: 2px;
}
.imagesteskture {
    display: table-caption;
    margin-left: 100px;
    height: 120px;
    line-height: 25px;
}
.imagesteksture2 {
    display: table-caption;
    margin-top: -120px;
    margin-left: 220px;
    line-height: 25px;
    height: 120px;
}
.imageteksture3 {
    margin-top: -118px;
    margin-left: 345px;
    display: table-caption;
    height: 120px;
    line-height: 25px;
}
.imagetesktureblok {
    margin-left: 80px;
}
/* slike vrata bootstrap drugi deo */

p.vratatekst {
    font-size: 25px;
    font-weight: 900;
    margin-top: 10px;
}
.imagevrata {
    margin-top: -25px;
}
img.vrata1 {
    margin-right: 75px;
}
img.vrata2 {
    margin-right: 75px;
}
img.vrata3 {
    margin-right: 75px;
}
/* tekst ispod vrata */

.tekstispodvrata {
    display: -webkit-box;
}
p.tekst1 {
    margin-right: 75px;
    margin-left: -8px;
}
p.teskt2 {
    margin-right: 85px;
    margin-left: 10px;
}
p.teskt3 {
    margin-right: 110px;
}
p.tekst4 {
    margin-left: -40px;
}
/* vrata prvi deo */

.vrataprvideo {
    padding-left: -25px;
    float: left;
    margin-left: 180px;
}
/*tekst ispod vrata prvi deo */

.prvideotekst {
    display: -webkit-inline-box;
}
p.txtprvideo1 {
    margin-left: 250px;
    margin-right: 160px;
}
p.txtprvideo2 {
    margin-right: 155px;
}
p.txtprvideo3 {
    margin-right: 160px;
}
/* vrata drugi deo */

.vratadrugideo {
    margin-left: 180px;
    margin-top: 60px;
    display: inline-block;
}
/* tekst ispod drugog reda vrata */

.drugideotekst {
    display: -webkit-inline-box;
    padding-bottom: 35px;
}
p.txtdrugideo1 {
    margin-left: 250px;
    margin-right: 170px;
}
p.txtdrugideo2 {
    margin-right: 152px;
}
p.txtdrugideo3 {
    margin-right: 160px;
}
/* strana 3 */

.mapa {
    width: 100%;
    height: 300px;
    border: 0;
}
h1.page3lorem {
    margin-left: 235px;
    margin-top: -10px;
    font-size: 40px;
    margin-bottom: 4px;
}
/* dugmad strana 3 */

.dugmad {
    padding-top: 20px;
    padding-bottom: 20px;
}
button.btnsrbija {
    margin-left: 235px;
    margin-right: 15px;
    height: 30px;
    width: 85px;
    color: white;
    background-color: #e30116;
    border: 0;
    font-weight: 500;
}
button.btnnemacka {
    height: 30px;
    width: 85px;
    color: white;
    background-color: #e30116;
    border: 0;
    font-weight: 500;
}
button.btnfran {
    margin-left: 150px;
    height: 30px;
    width: 85px;
    color: white;
    background-color: #e30116;
    border: 0;
    font-weight: 500;
}
button.btnvele {
    height: 30px;
    width: 85px;
    color: white;
    background-color: #e30116;
    border: 0;
    font-weight: 500;
}
button.btnmalo {
    height: 30px;
    width: 85px;
    color: white;
    background-color: #e30116;
    border: 0;
    font-weight: 500;
}
/* tabela */

table.tableizer-table {
    font-size: 14px;
    margin-left: 160px;
    width: 900px;
    padding-left: 75px;
}
.tableizer-table td {
    padding: 4px;
    margin: 3px;
}
.tableizer-table th {
    font-weight: bold;
    text-align: -webkit-auto;
}
th.adresa {
    text-align: -webkit-right;
}
td.adresa {
    text-align: -webkit-right;
}
th.drzava {
    padding-right: 246px;
}
/* zadnji deo tekst crven */

p.tekstcrven {
    font-size: 32px;
    color: #e30116;
    margin-left: 450px;
    font-weight: 700;
}
p.tekstcrn {
    margin-left: 575px;
    font-size: 22px;
    padding-top: -26px;
    margin-top: -26px;
    font-weight: 500;
}
/* dugme zadnje dole crveno */

button.btncta {
    background-color: #e30116;
    border: 0;
    height: 40px;
    width: 232px;
    margin-left: 578px;
    margin-bottom: 35px;
    -webkit-text-fill-color: white;
    font-weight: 700;
}